// Color
$primary: #0783cb;
$dark: #001d2e;
$white: #fff;
$light:#F8F9FA;
$error:#DC3545;
// Theme Colors for Green
$mint: #6eb19e;
$dark-mint: #36584f;


$form-range-track-bg: $white;
$form-range-thumb-bg: $primary;

//margins and paddings
$spacer: 1rem !default;
$spacers: (0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 1.75,
  6: $spacer * 3,
) !default;


$font-family-sans-serif: 'Open Sans',
sans-serif;

$font-size-base:1rem;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1 !default;
$h5-font-size: $font-size-base * 0.75 !default;
$h6-font-size: $font-size-base * 0.5 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
  );
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/_variables";

[data-bs-theme="green"] {

  --mint: $mint;
  --dark-mint: $dark-mint;
  --bs-primary: #6eb19e !important;
  --bs-accordion-active-bg: lighten($mint, 30%)!important;

  .card {
    background-color: lighten($mint, 30%)!important;
  }

  .bg-dark {
    background-color: $dark-mint !important;
  }

  .btn-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:hover,
  .bg-primary {
    background-color: $mint !important;
    color: $white !important;
  }

  .btn-primary,
  .btn-outline-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:hover {
    border-color: $mint !important;
  }
button.nav-link.fw-bold.rounded-pill.active {
    background-color: $mint !important;
    color: $white !important;
  }
  .text-primary,
  .nav-link:not(.disabled),
  .btn-outline-primary {
    color: $mint !important;
  }}
[data-bs-theme="dark"] {
  .bg-light {
    background-color: #314c5a !important;
  }
  .text-dark {
    color: $light !important;
  }
  .bg-white {
    background-color: $dark !important;
  }
}
// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/bootstrap";